<p>I can't wait until I have <%= @number %> reviews!</p>

<nav class="filters">
    <%= link_to "All prices", root_path %>
    <%= link_to "$", root_path(price: 1, cuisine: @cuisine, address: @address) %>
    <%= link_to "$$", root_path(price: 2, cuisine: @cuisine, address: @address) %>
    <%= link_to "$$$", root_path(price: 3, cuisine: @cuisine, address: @address) %>

    <%= link_to "Indian", root_path(cuisine: "Indian", price: @price, address: @address) %>
    <%= link_to "Mexican", root_path(cuisine: "Mexican", price: @price, address: @address) %>
    <%= link_to "American", root_path(cuisine: "American", price: @price, address: @address) %>

    <form action="/" >
        <input type="text" name="location" placeholder="Search location..." value="<%= @address %>">
        <input type="hidden" name="price" value="<%= @price %>">
        <input type="hidden" name="cuisine" value="<%= @cuisine %>">
    </form>
</nav>


<!-- Loop through reviews -->
<% @reviews.each do |review| %>
    <div class="review">
    <%= link_to review.title, review_path(review) %>
    </div>

<% end %>