<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> - Bien - Restaurant Reviews</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag "bien-logo.svg" %>
        <% end %>
      </h1>
      <h2>The Place for Restaurant Reviews</h2>
      <nav>
      <%= link_to "Add a review", new_review_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>Copyright Bien London 2022</p>
    </footer>
  </body>
</html>
